# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
env/
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
logs/

# Unit test / coverage
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Environment files
.env
.env.*

# Streamlit cache & config
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
